.initially-hidden {
  display: none;
}

.dark-font {
  color: darkorange;
}

.jumbotron {

  text-align: center;
  background-color: darkorange;
}

body {
  background-color: darkblue;
  color: white;
  font-family: monospace;

}

h4 {
  color: green;
  font-weight: bold;

}

img {
  width: 100%;
  height: auto;
  float: left;

}
